@use 'src/styles/colors';

.nav-bar-buttons {
  display: flex;
  margin-left: 24px;

  .button {
    min-width: 8.4rem;
    border: 0.1rem solid colors.$peachy;
    color: colors.$main-background-color;
    margin-right: 1.6rem;
    border-radius: 0.8rem;
    background-color: lighten(colors.$pinky, 4%);
  }

  .button:last-child {
    margin-right: 0;
  }
}

@media only screen and (max-width: 640px) {
  .nav-bar-buttons {
    margin-left: 24px;
  }
}

@media only screen and (max-width: 340px) {
  .nav-bar-buttons {
    margin-left: 24px;
  }
}
