@import "variables";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: scroll;
}

.content-title {
  margin-top: 0;
  color: $pinky;
}

.content-body {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

#page-description {
  display: flex;
  flex-direction: column;

  span {
    margin-bottom: 1.6rem;
  }

  span:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 480px) {
  .content-layout {
    padding: 1.6rem;
  }

  .content-title {
    font-size: 2.4rem;
  }
}
