.nav-bar-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #F9FBE7;
  text-decoration: none;
  margin: 0 24px;
}

.nav-bar-tab:last-child {
  margin-right: 0;
}

.nav-bar-tab-active {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 4px;
  text-underline-offset: 8px;
}

.nav-bar-tab:hover {
  color: black;
}
