.nav-bar-container {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  z-index: 300;
  background-color: #FEA1A1;
}

.nav-bar {
  flex: 1;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 80px;
  max-width: 1200px;
  padding: 0 24px;
  margin: 0;
  justify-content: space-between;
}
