<app-page-layout>
  <div right-column-content class="content-layout">
    <h1 id="page-title" class="content-title">Profile Page</h1>
    <div class="content-body">
      <p id="page-description">
        <span>
          You can use the <strong>ID Token</strong> to get the profile
          information of an authenticated user.
        </span>
        <span>
          <strong>Only authenticated users can access this page.</strong>
        </span>
      </p>

      <ng-container *ngIf="user$ | async as user">
        <div class="profile-grid">
          <div class="profile-header">
            <img [src]="user.picture" alt="Profile" class="profile-avatar" />
            <div class="profile-headline">
              <h2 class="profile-title">{{ user.name }}</h2>
              <span class="profile-description">{{ user.email }}</span>
            </div>
          </div>
          <ng-container *ngIf="code$ | async as code">
            <div class="profile-details">
              <app-code-snippet
                [title]="title"
                [code]="code"
              ></app-code-snippet>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</app-page-layout>
